header, aside, section {
  font-family: helvetica;
}

header {
  text-align: center;
}

aside {
  border: 1px solid black;
  float: left;
  width: 25%;
  padding: 10px;
  margin-left: 1.5%;
}

section {
  float: right;
  margin-right: 10%;
  width: 60%;
}

footer {
  margin-bottom: 0;
}

/* properties for all */
.coolShadow {
  box-shadow: 0 2px 1px #777;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

/* aside */
.userBox {
  border: 1px solid purple;
  height: 30px;
  margin: 5px;
}

.atInUserBox {
  float: left;
}

.usernameInUserBox {
  float: left;
}

.usernameBoxAll {
  text-align: center;
  line-height: 30px;
}

#tweetSubmitButton {
  margin-top: 5px;
}

/* tweet section */
.tweets {
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 5px;
}


.tweets .group {
  margin: 5px;
}

.avatarBox {
  float: left;
  height: 48px;
}

.messageBox {
  float: left;
  margin-left: 5px;
}



.usernameBox {
  /*this display setting makes the username box only as big as contents*/
  display: inline-block;
}

.usernameAt {
  float: left;
}
.username {
  float: left;
}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.group:before,
.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.group:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.group {
    *zoom: 1;
}

